.chess-board {
  border-spacing: 0; 
  border-collapse: collapse; 
}

.chess-board th {
  padding: .5em;
}

.chess-board td {
  border: 1px solid; 
  width: 3.5em; 
  height: 3.5em;
}

.chess-board .light {
  background: #eee;
}

.chess-board .dark {
  background: #000;
}

.black-pawn {
  width: 3em;
  height: 3em;
  background-color: rebeccapurple;
}

.white-pawn {
  width: 3em;
  height: 3em;
  background-color: aqua;
}

.chess-board .possibleMove {
  background: chartreuse !important;
}